<ion-view cache-view="false" ng-init="loadLanc()">
    <!-- <ion-header-bar>
    <h1 class="title">Movimentos Financeiros</h1>
</ion-header-bar> -->
<ion-nav-bar class="{{ type == 'RECEBER' ? 'bar-balanced' : 'bar-assertive' }}">
    <ion-nav-back-button></ion-nav-back-button>
    <ion-nav-title>
        {{ type == 'RECEBER' ? 'Receita' : 'Despesa' }}
    </ion-nav-title>
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button style="margin-right: 25px" class="button button-icon ion-edit" ui-sref="app.financeiroEdit({ id: id, type: type })"></button>
        <button style="margin-right: 25px" class="button button-icon ion-trash-b" ng-click="delete(id)"></button>
    </ion-nav-buttons>
</ion-nav-bar>
<ion-content>
    <label class="item item-input item-stacked-label">
        <span class="input-label">Data</span>
        <input type="text" value="{{lanc.dataPrevista}}" disabled>
    </label>
    <label class="item item-input item-stacked-label">
        <span class="input-label">Valor</span>
        <input type="text" value="{{lanc.valor}}" disabled>
    </label>
    <label class="item item-input item-stacked-label">
        <span class="input-label">Descrição</span>
        <input type="text" value="{{lanc.descricao}}" disabled>
    </label>
</ion-content>
</ion-view>
