<ion-view view-title="Movimento Espiritual">
    <ion-content>
        <div class="list">
            <div class="item item-divider">{{ data | date: 'yyyy' }}</div>
            <a class="item" ng-click="create(1)">Janeiro</a>
            <a class="item" ng-click="create(2)">Fevereiro</a>
            <a class="item" ng-click="create(3)">Março</a>
            <a class="item" ng-click="create(4)">Abril</a>
            <a class="item" ng-click="create(5)">Maio</a>
            <a class="item" ng-click="create(6)">Junho</a>
            <a class="item" ng-click="create(7)">Julho</a>
            <a class="item" ng-click="create(8)">Agosto</a>
            <a class="item" ng-click="create(9)">Setembro</a>
            <a class="item" ng-click="create(10)">Outubro</a>
            <a class="item" ng-click="create(11)">Novembro</a>
            <a class="item" ng-click="create(12)">Dezembro</a>
        </div>
    </ion-content>
</ion-view>
